# SPDX-FileCopyrightText: 2020 The HedgeDoc developers (see AUTHORS file)
#
# SPDX-License-Identifier: CC0-1.0

dist/
node_modules/

# dependencies
/node_modules
/.pnp
.pnp.*

# package manager
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE
.idea
!.idea/copyright
